@{
    int getlang = Shared.GetLang();
    using (MvcXmlEntities ConnXml = new MvcXmlEntities())
    {
        int getFormID = 7;
        Setting Setting = ConnXml.Setting.FirstOrDefault();
        int centerOfficeID = 0;
        if (PageData[0] != null)
        {
            centerOfficeID = Convert.ToInt32(PageData[0]);
        }
        bool isConfirm = false;
        if (IsPost)
        {
            var req_utm_source = Request.QueryString["utm_source"] ?? "";
            var req_utm_medium = Request.QueryString["utm_medium"] ?? "";
            var req_utm_campaign = Request.QueryString["utm_campaign"] ?? "";
            var req_utm_id = Request.QueryString["utm_id"] ?? "";
            var req_gclid = Request.QueryString["gclid"] ?? "";
            string utmParams = "&utm_source=" + req_utm_source.Trim() + "&utm_medium=" + req_utm_medium.Trim() + "&utm_campaign=" + req_utm_campaign.Trim() + "&utm_id=" + req_utm_id.Trim() + "&gclid=" + req_gclid.Trim();
            var txtNameSurname = Request.Form["contact_name"];
            var txtPhone = Request.Form["txtTelefon"];
            var txtEmail = Request.Form["contact_email"];
            var chckKvkk = Request.Form["terms"];
            var chckElectronic = Request.Form["terms2"];
            SeminarForm SeminarForm = new SeminarForm()
            {
                NameSurname = txtNameSurname,
                Email = txtEmail,
                Phone = txtPhone,
                UtmID = req_utm_id,
                UtmMedium = req_utm_medium,
                UtmSource = req_utm_source,
                UtmCampaign = req_utm_campaign,
                GclID = req_gclid,
                AcceptElectronicMessage = chckKvkk == "ok" ? true : false,
                KVKK = chckElectronic == "ok" ? true : false,
                LangID = Shared.GetLang(),
                AddDate = DateTime.Now
            };
            ConnXml.SeminarForm.Add(SeminarForm);
            int ConnStatus = ConnXml.SaveChanges();
            if (ConnStatus > 0)
            {
                isConfirm = true;
                //ServicePointManager.Expect100Continue = true;
                //ServicePointManager.SecurityProtocol = SecurityProtocolType.Tls12;
                //string html = string.Empty;
                //string url = @"https://crmv3.phc.com.tr/api2/get_data?adsoyad=" + HttpUtility.UrlEncode(txtNameSurname) + "&epostaadresi=" + HttpUtility.UrlEncode(txtEmail) + "&telefon=" + HttpUtility.UrlEncode(txtPhone) + "&kaynak=Direct&alt_kaynak=%2Fhesap-ac%2F&leadtype=1&leaddagitim=hisse" + utmParams; ;
                //HttpWebRequest request = (HttpWebRequest)WebRequest.Create(url);
                //request.AutomaticDecompression = DecompressionMethods.GZip;
                //using (HttpWebResponse response = (HttpWebResponse)request.GetResponse())
                //{
                //    using (Stream stream = response.GetResponseStream())
                //    {
                //        using (StreamReader reader = new StreamReader(stream))
                //        {
                //            html = reader.ReadToEnd();
                //        }
                //    }
                //}
            }
        }
        <div class="offerForm2">
            <div class="offerLogo col-md-12">
                <img src="~/content/images/etkinlik-logo-ist.png" />
            </div>
            <div class="offerInfo col-md-12">
                Kayıtlarımız tamamlanmıştır, diğer etkinliklerde görüşmek üzere.
            </div>
            @*
            <div class="vioprightSide col-md-6 col-sm-6 col-xs-12">
                <div class="quickForm">
                    <div class="qTitle">
                        <p>Etkinliğe Katılmak İçin</p>
                        Hemen Kaydol!
                    </div>
                    <div class="qBody">
                        <form class="hid" method="post">
                            <input type="hidden" name="csrfmiddlewaretoken" value="BbD6AoVYEJY0d45ffzE4IBtjdTu06DVmQ6QTvl7Ho9uSdpZBpVcP57EKRkTFj5Gy">
                            <div class="top">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="contact_name" required="" id="contact_name" placeholder="@Shared.GetTranslation(17)">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="contact_email" required="" id="contact_email" placeholder="@Shared.GetTranslation(8)">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="txtTelefon" required="" id="txtTelefon" placeholder="@Shared.GetTranslation(16)" required="" >
                                    </div>
                                </div>
                                <div class="col-sm-12 mt">
                                    <div class="checkArea mt">
                                        <input onchange="this.setCustomValidity(validity.valueMissing ? 'Formu Göndermek için lütfen kabul ediniz' : '');" id="field_terms" type="checkbox" required="" name="field_terms"> <label for="field_terms">
                                            PhillipCapital<a href="/internet-sitesi-aydinlatma-metni" target="_blank"> web sitesi üyeliği aydınlatma bildirimi</a> ’ni
                                            okuduğumu, anladığımı ve kabul ettiğimi beyan ederim.
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="checkArea">
                                        <input id="field_terms2" type="checkbox" name="field_terms2"> <label for="field_terms2">
                                            PhillipCapital ve bağlı ortaklıkları tarafından tanıtım ve pazarlama
                                            amacıyla <a href="/ticari-elektronik-ileti-gonderimine-iliskin-onay-metni" target="_blank">ticari elektronik ileti</a> gönderilmesini
                                            onaylıyorum.
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="Ticket">
                                <div class="ticketLeft"></div>
                                <div class="ticketCenter"></div>
                                <div class="ticketRight"></div>
                            </div>
                            <div class="bottom">
                                @{
                                    if (isConfirm)
                                    {
                                        <script>
                                            gtag('event', 'conversion', { 'send_to': 'AW-10936174659/gpRHCIzcrccDEMOQ494o' });
                                        </script>
                                        <script>
                                            Swal.fire({
                                                icon: 'success',
                                                title: 'Talebiniz alınmıştır. Kısa sürede sizinle iletişime geçilecektir.',
                                                showConfirmButton: false,
                                                timer: 1500
                                            });
                                            setTimeout(function () {
                                                window.location.href = window.location.href;
                                            }, 1600);
                                        </script>
                                    }
                                    else
                                    {
                                        <button type="submit" id="submit"> @Shared.GetTranslation(155)</button>
                                    }
                                }
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                document.getElementById("field_terms").setCustomValidity("Formu Göndermek için lütfen kabul ediniz");
            </script>
            *@
        </div>
        <div class="winner">
            <div class="winnerRow">
                <div class="heading">@Shared.GetTranslation(165)</div>
                <div class="heading2">@Shared.GetTranslation(166)</div>
                <div class="rowItem">
                    <img src="../../content/images/iconlar/rakipsiz-komisyon.png" />
                    <span>@Shared.GetTranslation(167)</span>
                </div>
                <div class="rowItem">
                    <img src="../../content/images/iconlar/ucretsiz-anlikveri.png" />
                    <span>@Shared.GetTranslation(168)</span>
                </div>
                <div class="rowItem">
                    <img src="../../content/images/iconlar/5gun24.png" />
                    <span>@Shared.GetTranslation(169)</span>
                </div>
                <div class="rowItem">
                    <img src="../../content/images/iconlar/onlinehesapac.png" />
                    <span>@Shared.GetTranslation(170)</span>
                </div>
                <div class="rowItem">
                    <img src="../../content/images/iconlar/nakit-t2.png" />
                    <span>@Shared.GetTranslation(171)</span>
                </div>
                <div class="rowItem">
                    <img src="../../content/images/iconlar/bistveabd.png" />
                    <span>@Shared.GetTranslation(172)</span>
                </div>
                <div class="rowItem">
                    <img src="../../content/images/iconlar/halkaarz.png" />
                    <span>@Shared.GetTranslation(173)</span>
                </div>
                <div class="rowItem">
                    <img src="../../content/images/iconlar/portfoy.png" />
                    <span>@Shared.GetTranslation(174)</span>
                </div>
                <div class="rowItem">
                    <img src="../../content/images/iconlar/sigorta.png" />
                    <span>@Shared.GetTranslation(176)</span>
                </div>
                @*
                    <ul>
                        <li class="heading">@Shared.GetTranslation(165)</li>
                        <li class="heading2">@Shared.GetTranslation(166)</li>
                        <li style="background-image: url('../../content/images/iconlar/rakipsiz-komisyon.png');">@Shared.GetTranslation(167)</li>
                        <li style="background-image: url('../../content/images/iconlar/ucretsiz-anlikveri.png'); ">@Shared.GetTranslation(168)</li>
                        <li style="background-image: url('../../content/images/iconlar/5gun24.png'); ">@Shared.GetTranslation(169)</li>
                        <li style="background-image: url('../../content/images/iconlar/onlinehesapac.png'); ">@Shared.GetTranslation(170)</li>
                        <li style="background-image: url('../../content/images/iconlar/nakit-t2.png'); ">@Shared.GetTranslation(171)</li>
                        <li style="background-image: url('../../content/images/iconlar/bistveabd.png'); ">@Shared.GetTranslation(172)</li>
                        <li style="background-image: url('../../content/images/iconlar/halkaarz.png'); ">@Shared.GetTranslation(173)</li>
                        <li style="background-image: url('../../content/images/iconlar/portfoy.png'); ">@Shared.GetTranslation(174)</li>
                        <li style="background-image: url('../../content/images/iconlar/sigorta.png'); ">@Html.Raw(Shared.GetTranslation(176))</li>
                    </ul>
                *@
            </div>
        </div>
        <div class="safewithus">
            <div class="safewithusRow">
                <div class="side">
                    <div class="sidetitle">
                        "@Html.Raw(Shared.GetTranslation(177))"
                    </div>
                    <div class="sidetitle2">
                        @Html.Raw(Shared.GetTranslation(178))
                    </div>
                </div>
            </div>
        </div>
    }
}