@{
    Layout = "_Admin.cshtml";
    MvcXmlEntities ConnXml = new MvcXmlEntities();
    Setting Setting = ConnXml.Setting.FirstOrDefault();
    var drpGaleryID = "0";
    var txtPhotoGaleryFileDescription = "";
    var txtVideoGaleryEmbed = "";
    var fuImageUrl = "";
    var fuVideoUrl = "";
    bool drpPageStatus = true;
    if (Request.QueryString["GaleryID"].IsInt())
    {
        drpGaleryID = Request.QueryString["GaleryID"];
    }
    if (Request.QueryString["Delete"].IsInt())
    {
        int reqID = Request.QueryString["Delete"].AsInt();
        VideoGaleryFile Pages = ConnXml.VideoGaleryFile.FirstOrDefault(x => x.VideoGaleryFileID == reqID);
        string imgDir = "~/" + Setting.Documentdir + "/VideoGalery/" + Pages.VideoGaleryFileUrl;
        string videoDir = "~/" + Setting.Documentdir + "/VideoGalery/" + Pages.VideoGaleryFilePath;
        if (System.IO.File.Exists(Server.MapPath(imgDir)) && !Pages.VideoGaleryFileUrl.IsEmpty())
        {
            System.IO.File.Delete(Server.MapPath(imgDir));
        }
        if (System.IO.File.Exists(Server.MapPath(videoDir)) && !Pages.VideoGaleryFilePath.IsEmpty())
        {
            System.IO.File.Delete(Server.MapPath(videoDir));
        }
        ConnXml.Entry(Pages).State = System.Data.EntityState.Deleted;
        int ConnStatus = 0;
        ConnStatus = ConnXml.SaveChanges();
        if (ConnStatus > 0)
        {
            Session["Ok"] = "İşlem başarı ile gerçekleşmiştir.";
        }
        else
        {
            Session["Error"] = "Bir problem oldu yönetici ile görüşün.";
        }
        Response.Redirect("VideoGaleryPageFile?GaleryID=" + drpGaleryID);
    }
    if (Request.QueryString["ID"].IsInt())
    {
        int reqID = Request.QueryString["ID"].AsInt();
        VideoGaleryFile reqPage = ConnXml.VideoGaleryFile.FirstOrDefault(x => x.VideoGaleryFileID == reqID);
        drpGaleryID = reqPage.VideoGaleryID.ToString();
        txtPhotoGaleryFileDescription = reqPage.VideoGaleryFileDescription;
        txtVideoGaleryEmbed = reqPage.VideoGaleryEmbed;
        drpPageStatus = reqPage.Status;
        if (!reqPage.VideoGaleryFileUrl.IsEmpty())
        {
            string imgDir = "~/" + Setting.Documentdir + "/VideoGalery/" + reqPage.VideoGaleryFileUrl;
            if (System.IO.File.Exists(Server.MapPath(imgDir)))
            {
                fuImageUrl = "<div class=\"Input\"><span>(<a href='" + imgDir.Replace("~/", "../") + "' target='_blank'>Mevcut Resim</a> - <a class='DeleteFile' rel='" + reqPage.VideoGaleryFileID + "'  type='VideoGaleryFileImageUrl' href='javascript:void(0)' target='_blank'>Resmi Sil</a>)</span></div>";
            }
        }
        if (!reqPage.VideoGaleryFilePath.IsEmpty())
        {
            string imgDir = "~/" + Setting.Documentdir + "/VideoGalery/" + reqPage.VideoGaleryFilePath;
            if (System.IO.File.Exists(Server.MapPath(imgDir)))
            {
                fuVideoUrl = "<div class=\"Input\"><span>(<a href='" + imgDir.Replace("~/", "../") + "' target='_blank'>Mevcut Video</a>)</span></div>";
            }
        }
    }
    if (IsPost)
    {
        // AntiForgery.Validate();
        VideoGaleryFile PhotoGaleryFile = new VideoGaleryFile();
        if (Request.QueryString["ID"].IsInt())
        {
            int reqID = Request.QueryString["ID"].AsInt();
            PhotoGaleryFile = ConnXml.VideoGaleryFile.FirstOrDefault(x => x.VideoGaleryFileID == reqID);
        }
        else
        {
            PhotoGaleryFile.VideoGaleryFileUrl = "";
            PhotoGaleryFile.VideoGaleryFilePath = "";
        }
        PhotoGaleryFile.VideoGaleryID = Request.Form["drpGaleryID"].AsInt();
        PhotoGaleryFile.VideoGaleryFileDescription = Request.Form["txtPhotoGaleryFileDescription"];
        PhotoGaleryFile.VideoGaleryEmbed = Request.Unvalidated().Form["txtVideoGaleryEmbed"];
        if (Request.Files.Count > 0)
        {
            var uploadedFile = Request.Files["fuImageUrl"];
            if (uploadedFile.ContentLength > 0)
            {
                if (!PhotoGaleryFile.VideoGaleryFileUrl.IsEmpty())
                {
                    string imgDir = "~/" + Setting.Documentdir + "/VideoGalery/" + PhotoGaleryFile.VideoGaleryFileUrl;
                    System.IO.File.Delete(Server.MapPath(imgDir));
                }
                string getExtentions = Path.GetExtension(uploadedFile.FileName);
                string newFileName = System.Guid.NewGuid().ToString() + getExtentions;
                var fileSavePath = Server.MapPath("~/" + Setting.Documentdir + "/VideoGalery/" + newFileName);
                uploadedFile.SaveAs(fileSavePath);
                PhotoGaleryFile.VideoGaleryFileUrl = newFileName;
            }
            var uploadedFile2 = Request.Files["fuVideoUrl"];
            if (uploadedFile2.ContentLength > 0)
            {
                if (!PhotoGaleryFile.VideoGaleryFilePath.IsEmpty())
                {
                    string imgDir = "~/" + Setting.Documentdir + "/VideoGalery/" + PhotoGaleryFile.VideoGaleryFilePath;
                    System.IO.File.Delete(Server.MapPath(imgDir));
                }
                string getExtentions = Path.GetExtension(uploadedFile2.FileName);
                string newFileName = System.Guid.NewGuid().ToString() + getExtentions;
                var fileSavePath = Server.MapPath("~/" + Setting.Documentdir + "/VideoGalery/" + newFileName);
                uploadedFile2.SaveAs(fileSavePath);
                PhotoGaleryFile.VideoGaleryFilePath = newFileName;
            }
        }
        // fuVideoUrl
        PhotoGaleryFile.Line = 0;
        PhotoGaleryFile.Status = (Request.Form["drpPageStatus"] == "1" ? true : false);
        int ConnStatus = 0;
        if (Request.QueryString["ID"].IsInt())
        {
            ConnXml.Entry(PhotoGaleryFile).State = System.Data.EntityState.Modified;
            ConnStatus = ConnXml.SaveChanges();
        }
        else
        {
            ConnXml.VideoGaleryFile.Add(PhotoGaleryFile);
            ConnStatus = ConnXml.SaveChanges();
        }
        if (ConnStatus > 0)
        {
            Session["Ok"] = "İşlem başarı ile gerçekleşmiştir.";
        }
        else
        {
            Session["Error"] = "Bir problem oldu yönetici ile görüşün.";
        }
        Response.Redirect("VideoGaleryPageFile?GaleryID=" + Request.Form["drpGaleryID"].AsInt());
    }
}
@functions
{
    List<SelectListItem> GetSubPage(int i, List<VideoGalery> PhotoGalery, int getPageID)
    {
        string left = new string('-', i * 3);
        List<SelectListItem> lst = new List<SelectListItem>();
        foreach (VideoGalery itemPages in PhotoGalery.Where(x => x.VideoGaleryParentID == getPageID && x.Lang == 0))
        {
            lst.Add(new SelectListItem { Value = itemPages.VideoGaleryID.ToString(), Text = left + " " + itemPages.Name });
            lst.AddRange(GetSubPage(i + 1, PhotoGalery, itemPages.VideoGaleryID));
        }
        return lst;
    }
}
<div class="Title">Yeni Video Ekle</div>
<form method="post" enctype="multipart/form-data">
    @AntiForgery.GetHtml()
    @* If at least one validation error exists, notify the user *@
    @Html.ValidationSummary("Account creation was unsuccessful. Please correct the errors and try again.", excludeFieldErrors: true, htmlAttributes: null)
    <div id="EditPageContent">
        <div class="Content">
            <div class="Item">
                @{
                    List<SelectListItem> lstModule = new List<SelectListItem>();
                    lstModule.AddRange(GetSubPage(0, ConnXml.VideoGalery.ToList(), 0));
                    lstModule.FirstOrDefault(x => x.Value == drpGaleryID).Selected = true;
                    IEnumerable<SelectListItem> drpParentItems = lstModule;
                }
                @HelperAdminControl.DropDownList("drpGaleryID", "Galeri Kategorisi", drpParentItems)
                @HelperAdminControl.inputText("txtPhotoGaleryFileDescription", "Açıklama", false, true, txtPhotoGaleryFileDescription)
                @HelperAdminControl.inputText("txtVideoGaleryEmbed", "Embed", true, false, txtVideoGaleryEmbed)
                @HelperAdminControl.fileUpload("fuImageUrl", "Resim")
                @Html.Raw(fuImageUrl)
                @HelperAdminControl.fileUpload("fuVideoUrl", "Video")
                @Html.Raw(fuVideoUrl)
                <div class="Title">Durum</div>
                <div class="Input">
                    <div class="Input">
                        @{
                            string StatusFalse = "";
                            string StatusTrue = "";
                            if (!drpPageStatus)
                            {
                                StatusFalse = "checked='checked'";
                            }
                            else
                            {
                                StatusTrue = "checked='checked'";
                            }
                        }
                        <input type="radio" id="drpPageStatus0" name="drpPageStatus" value="0" @StatusFalse><label for="drpPageStatus0">Pasif</label>
                        <input type="radio" id="drpPageStatus1" name="drpPageStatus" value="1"  @StatusTrue><label for="drpPageStatus1">Aktif</label>
                    </div>
                </div>
                <div class="ButtonPanel">
                    <input id="btnSave" name="btnSave" type="submit" class="inputbutton Add" value="Kaydet" />
                </div>
            </div>
        </div>
    </div>
</form>